In [1]:
'''
Env Setup
Introduce Basic python
Introduce Jupyter Notebook
Jupyter Extensions
Dict,Tuples,List
Generators
map filter reduce
Object Oriented & Functional Prog
Data Wrangling
What's next
'''

"\nEnv Setup\nIntroduce Basic python\nIntroduce Jupyter Notebook\nJupyter Extensions\nDict,Tuples,List\nGenerators\nmap filter reduce\nObject Oriented & Functional Prog\nData Wrangling\nWhat's next\n"

### ZIP

In [2]:
 = [1, 2, 3]
words = ['one', 'two', 'three']

# Two iterables are passed
result = zip(numberList, strList)

# Converting itertor to set
resultList = list(result)

print(resultList)

SyntaxError: invalid syntax (<ipython-input-2-b0e424e76577>, line 1)

In [3]:
numbers = [1, 2, 3]
lower_words = ['one', 'two']
upper_words = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbers, lower_words)

# Converting to set
resultSet = set(result)
print(resultSet)

result = zip(numbers, lower_words, upper_words)

# Converting to set
resultSet = set(result)
print(resultSet)

{(2, 'two'), (1, 'one')}
{(2, 'two', 'TWO'), (1, 'one', 'ONE')}

### UNZIP

In [4]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5, 0, 9]

result = zip(coordinate, value)
resultList = list(result)
print(resultList)

c, v =  zip(*resultList)
print('c =', c)
print('v =', v)

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)

## Our Fancy Random Number Generator

In [5]:
M = 17969491597941066732916128449573246156367561808012600070888918835531726460341490933493372247868650755230855864199929221814436684722874052065257937495694348389263171152522525654410980819170611742509702440718010364831638288518852689
def blum_blum_shub():
    global M
    x = 987654321
    while True:
        x =  (x**2)%M
        yield round(x/M,3)
        
random = blum_blum_shub()

# Load Existing Python File

In [6]:
# %load a.py
counter = 0
def get():
    global counter 
    counter += 1 
    return counter-1

# Elaborate Example

In [7]:
import names
import csv
import pickle 
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline

def get_name():
    return names.get_first_name()
def range_random(l,u):
    return round(l+(u-l)*next(random),3)

## Definition of a Student

In [8]:
class Student():
    name = None
    age = None
    gender = None
    grade = None
    def __init__(self, age, name, grade):
        self.age = age
        self.name = name
        self.grade = grade

## Definition of a EEE Student

In [9]:
class EEE_Student(Student):
    """
    A EEE student: behaves exactly like a Student 
    but also has a special discipline class attribute and a couple courses
    """
    discipline = "A3"
    courses = ["Control Systems, Optimisation"]
    def __init__(self, age, name):
        super().__init__(age, name, range_random(5,9))

## Definition of a CSE Student

In [10]:
class CSE_Student(Student):
    """
    A CSE student: behaves exactly like a Student 
    but also has a special discipline class attribute and a couple courses
    """
    discipline = "A7"
    courses = ["Data Structures, OOP"]
    def __init__(self, age, name):
        super().__init__(age, name, range_random(6,10))

__Generate List of Students__

In [11]:
cse_students = [CSE_Student(range_random(18,23), get_name()) for i in range(0,100000)]
eee_students = [EEE_Student(range_random(18,23), get_name()) for i in range(0,100000)]

In [12]:
len(cse_students)

100000

In [13]:
len(eee_students)

100000

__Concat List of Students__

In [14]:
all_students = cse_students+eee_students

In [15]:
len(all_students)

200000

## Get  List of Students with Unique Names

__A Purely Imperative Approach__

In [16]:
unique_names = set()
students_with_unique_names = []
for student in all_students:
    if student.name in unique_names:
        continue
    students_with_unique_names.append(student)
    unique_names.add(student.name)

In [17]:
len(students_with_unique_names)

4654

__Alternate Approch w/ Functional Operators__

In [18]:
''' map out the features/parameters which need to be evaluated upon '''
student_and_names = dict(map(lambda x: (x.name, x), all_students))

''' remap the set of names to a list of student objects '''
uniquely_named_students = list(map(lambda x: student_and_names[x], student_and_names))

In [19]:
len(uniquely_named_students)

4654

## Get a Sorted List of Students with CG > 9.5

__Approach 1: Filter followed by Sort__

In [20]:
meritorious_students = list(filter(lambda x: x.grade>9.5, all_students))
sorted_meritorious_students1 = sorted(meritorious_students, key=lambda x:x.grade, reverse=True)

__Approach 2: Sort followed by Filter__

In [21]:
sorted_students = sorted(all_students, key=lambda x:x.grade, reverse=True)
sorted_meritorious_students2 = list(filter(lambda x: x.grade>9.5, sorted_students))

In [22]:
len(sorted_meritorious_students1) - len(sorted_meritorious_students2)

0

## Compare the Average Grade of CSE Students and EEE Students

In [23]:
cse_average_grade = reduce(lambda x,y: x+y,map(lambda x: x.grade, filter(lambda x: x.discipline=="A7", all_students)))/len(cse_students)

In [24]:
cse_average_grade

8.00307507999992

In [25]:
eee_average_grade = reduce(lambda x,y:("",x[1]+y[1]), filter(lambda x: x[0]=="A3", map(lambda x:(x.discipline,x.grade),all_students)))[1]/len(eee_students)

In [26]:
eee_average_grade

6.9982245599999535

## CSV File

In [27]:
unrolled_data = list(map(lambda x: (x.name, x.discipline, x.grade, x.courses), all_students))

In [28]:
with open('students.csv', 'w') as studentsCsvFile:
    writer = csv.writer(studentsCsvFile)
    writer.writerow(("Name","Discipline","Grade","Courses"))
    writer.writerows(unrolled_data)

## Pickle File

In [29]:
file = open('important', 'wb')

pickle.dump(all_students,file)

file.close()

# Next Section

## Why NumPy

## Why Pandas

In [42]:
df = pd.read_csv("./students.csv", header=0)
df.head(5)

       Name Discipline  Grade                   Courses
0     Linda         A7  6.000  ['Data Structures, OOP']
1  Beatrice         A7  6.000  ['Data Structures, OOP']
2     Shaun         A7  8.296  ['Data Structures, OOP']
3      Rose         A7  8.232  ['Data Structures, OOP']
4     Bryan         A7  7.760  ['Data Structures, OOP']

In [43]:
df.shape

(200000, 4)

In [46]:
df.describe()

               Grade
count  200000.000000
mean        7.500650
std         1.258101
min         5.000000
25%         6.504000
50%         7.496000
75%         8.500000
max        10.000000

## Why Matplotlib

In [ ]:
grades = sorted(list(map(lambda x: x.grade, filter(lambda x:x.name,all_students))))

In [ ]:
plt.plot(grades,'ro')
plt.axis([0, 200000, 4, 10])
plt.show()

In [ ]:
grade_age = [(x.grade, x.age) for x in all_students]

In [ ]:
x,y = zip(*grade_age)

In [ ]:
plt.scatter(x=x, y=y)

In [ ]:
grade_age = list(filter(lambda x: x[1]/x[0] <2, grade_age))
x,y = zip(*grade_age)

In [ ]:
plt.scatter(x=x, y=y)

In [ ]:
grade_age = list(filter(lambda x: x[1]/x[0] > 1.99, grade_age))
x,y = zip(*grade_age)

In [ ]:
plt.scatter(x=x, y=y)